<!-- The gender(s) of the desired love match -->
<h4>Choose the the gender(s) you desire</h4>
<!-- <div
  class="btn-group"
  role="group"
  aria-label="The gender(s) of the desired love match"
>
  <input
    type="checkbox"
    class="btn-check"
    id="desiredGenderFemale"
    autocomplete="off"
    value="f"
    checked
  />
  <label class="btn btn-outline-primary" for="desiredGenderFemale"
    >Female</label
  >
  <input
    type="checkbox"
    class="btn-check"
    id="desiredGenderMale"
    autocomplete="off"
    value="m"
  />
  <label class="btn btn-outline-primary" for="desiredGenderMale">Male</label>
  <input
    type="checkbox"
    class="btn-check"
    id="desiredGenderOther"
    autocomplete="off"
    value="o"
    disabled
  />
  <label class="btn btn-outline-primary" for="desiredGenderOther">Other</label>
</div>
-->
<div class="custom-control custom-checkbox custom-control-inline">
  <input
    type="checkbox"
    class="custom-control-input"
    id="desiredGenderFemale"
    checked
  />
  <label class="custom-control-label" for="desiredGenderFemale">Female</label>
</div>
<div class="custom-control custom-checkbox custom-control-inline">
  <input type="checkbox" class="custom-control-input" id="desiredGenderMale" />
  <label class="custom-control-label" for="desiredGenderMale">Male</label>
</div>
