<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Love Count</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <span class="glyphicon glyphicon-home"></span> Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            href="https://devcenter.heroku.com/articles/how-heroku-works"
            ><span class="glyphicon glyphicon-info-sign"></span> How the love is
            counted</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            href="https://theannanas.github.io/"
            target="_blank"
            ><span class="glyphicon glyphicon-user"></span> About the creator</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
