<!-- The gender of the love seeking visitor -->
<h4>Choose your gender</h4>
<!-- <div
  class="btn-group"
  role="group"
  aria-label="The gender of the love seeking visitor"
>
  <input
    type="radio"
    class="btn-check"
    name="ownGender"
    id="ownGenderFemale"
    autocomplete="off"
    value="f"
    checked
  />
  <label class="btn btn-outline-primary" for="ownGenderFemale">Female</label>

  <input
    type="radio"
    class="btn-check"
    name="ownGender"
    id="ownGenderMale"
    autocomplete="off"
    value="m"
  />
  <label class="btn btn-outline-primary" for="ownGenderMale">Male</label>

  <input
    type="radio"
    class="btn-check"
    name="ownGender"
    id="ownGenderOther"
    autocomplete="off"
    value="o"
    disabled
  />
  <label class="btn btn-outline-primary" for="ownGenderOther">Other</label>
</div>
-->
<div class="custom-control custom-radio custom-control-inline">
  <input
    type="radio"
    id="ownGenderFemale"
    name="ownGender"
    class="custom-control-input"
    checked
  />
  <label class="custom-control-label" for="ownGenderFemale">Female</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input
    type="radio"
    id="ownGenderMale"
    name="ownGender"
    class="custom-control-input"
  />
  <label class="custom-control-label" for="ownGenderMale">Male</label>
</div>
