<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <%- include ("../partials/nav.ejs") %>

    <div class="jumbotron text-center">
      <div class="container">
        <!--
        <a href="/" class="lang-logo">
          <img src="/heart.svg" />
        </a>
        -->
        <h1>Love Count</h1>
        <p>Get a count of possible lovematches near you</p>
      </div>
    </div>
    <div class="container">
      <%- include ("../partials/form.ejs") %>
      <hr />
    </div>
  </body>
</html>
